.body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
.container1{
    background-color: #eeeeee;
    width: 850px;
    height: 160px;
    margin-top: 20px;
}
.container{
    margin-left: 250px;
    width: 850px;
}
.headd{
    font-size: 30pt;
    font-family: Arial;
    padding: 65px 0 35px 0;
}

.head1{
    font-size: 18pt;
    font-family: Arial;
}
.carDetails{
    float: left;
}
th{
    background-color: #dddddd;
    padding: 8px 15px 8px 15px;
    margin: 10px;

}
.progress{
    float: left;
}
.mark{
    color: red;

}
.h4{
    float: left;
}
h4{
    font-family: Arial;
}
th{
    font-weight: normal;
}
.ban{
    width: 850px;
    height: 40px;
    background-color: #ea6a5b;
    margin-top: -10px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
}
li a {
    display: inline-block;
}
a{
    text-decoration: none;
    font-family: Arial;
}

table{
    font-family: Arial;
    font-size: 15px;
}
select{
    width: 173px;
}
.submit{
    float: left;
    font-family: Arial;
    background-color: #ea6a5b;
    color: #eeeeee;
    margin-top: 10px;
    height: 30px;
    width: 200px;
}
.topnav {
overflow: hidden;
}

.topnav a:hover {
color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 11pt;
}
.topnav a.active {
    color:#333333;
    text-decoration: underline;
}